body {
 background-color: lightgrey; 
}
.container {
  box-sizing: border-box;
  background-color: cadetblue;
  padding: 10px;
  border-radius: 5px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  width: 35rem;
  height: 70vh;
  padding-top: 2rem;
  gap: 1rem;
  margin-top: 2rem;
}

.results {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}
#message {
  min-height: 2rem;
}

#first-result, #second-result {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#result, #result2 {
  font-size: 1.5rem;
  border: 1px solid whitesmoke;
  min-width: 5rem;
  text-align: center;
  padding: 5px;
  border-radius: 5px;
}
input {
  font-size: 1rem;
  width: 30rem;
  text-align: center;
  border-radius: 8px;
  border-color: transparent;
  margin-bottom: 1rem;
}
#start-button, #reset-button {
  font-size: 1rem;
  padding: 0.3rem;
  border-radius: 8px;
  border-color: transparent;
  background-color: rgb(59, 99, 101);
  color: whitesmoke;
}
#start-button:hover {
  cursor: pointer;
  background-color: rgb(41, 68, 70);
}
#reset-button:hover {
  cursor: pointer;
  background-color: rgb(41, 68, 70);
  color: red;
}

